<h1>Request accepted</h1>

<p>
  Hello <%= @user.firstname %>,

  We are sorry to inform you that your request to access the teaching material has been <b>rejected</b>.

  Best regards,
  The team.
</p>

