<footer id="myFooter">
  <div class="w3-container w3-theme-l2 w3-padding-16">
    <h4 style="margin-left:250px" >Footer about book</h4>
  </div>

  <div class="w3-container w3-theme-l1">
    <p style="margin-left:250px"> Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </div>
</footer>