<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-theme-l1">Logo</a> -->
    <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
    <a href="/authors" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Authors</a>
    <a href="/teaching" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Teaching Material</a>
    <a href="/users" class="w3-bar-item w3-button w3-hide-small w3-hover-white">users</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">define</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">define</a>
  </div>
</div>