.picture_profile_left {
    width: 100px;
    float: left;
    margin: 15px;
}

.picture_profile_right {
    width: 100px;
    float: right;
    margin: 15px;
}

.contact_author {
    font-style: italic;
}