<% rev = locals[:review] %>

<div class="w3-twothird w3-container">
    <div class="w3-responsive w3-panel review">
      <p class="review-text w3-serif" >
        <i>"<%= rev.review %>"</i></p>

      <p  class="w3-float_right review-author"><b><%= rev.reviewer_details %></b></p>
    </div>
  <br>
  <hr style="width:100%" class="w3-center">

</div>